<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionName="1.18.7" package="jp.co.tokyo_chokoku.patmark" android:versionCode="68">
	<uses-sdk android:minSdkVersion="19" android:targetSdkVersion="30" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
	<uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
	<uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
	<uses-feature android:name="android.hardware.wifi" android:required="false" />
	<uses-feature android:name="android.hardware.location" android:required="false" />
	<application android:name="Tokyochokoku.Patmark.Droid" android:label="Patmark Apps" android:icon="@mipmap/icon" android:theme="@style/AppTheme" android:debuggable="false"></application>
</manifest>